{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style/style2.css' %}">
    
</head>
<body>
    <img src="{%static 'images/india.jpg' %}" alt="">
    <div>
       <h1 style="text-align: center;">
           POSHAN ABHIYAAN
       </h1>
     <p> 
     India has been battling issues of malnutrition for decades, 
     but the problem is still rampant in the country.
     More than half of the young female population in India suffer from anaemia .
     Roughly 38% of the country’s population, under five year of age, is affected by stunting.
     POSHAN Abhiyaan is India’s flagship programme to improve nutritional outcomes for children,
     adolescents, pregnant women and lactating mothers by leveraging technology,
     a targeted approach and convergence.</p>
     <p>
     The Prime Minister’s Overarching Scheme for Holistic Nutrition or POSHAN Abhiyaan or National Nutrition Mission,
      is Government of India’s flagship programme to improve nutritional outcomes for children, pregnant women and lactating mothers.
     Launched by the Prime Minister on the occasion of the International Women’s Day on 8 March, 
     2018 from Jhunjhunu in Rajasthan, the POSHAN (Prime Minister’s Overarching Scheme for Holistic Nutrition) 
     Abhiyaan directs the attention of the country towards the problem of malnutrition and address it in a mission-mode.
     ITI Aayog has played a critical role in shaping the POSHAN Abhiyaan. </p>
     <p>
     The National Nutrition Strategy, released by NITI Aayog in September, 2017 presented a micro analysis of the problems
     persisting within this area and chalked out an in-depth strategy for course correction. Most of the recommendations presented in the Strategy document have been subsumed within the design of the POSHAN Abhiyaan and now that the Abhiyaan is launched,
     NITI Aayog has been entrusted with the task of closely monitoring the POSHAN Abhiyaan and undertaking periodic evaluations.
     With the overarching aim to build a people’s movement (Jan Andolan) around malnutrition, POSHAN Abhiyaan intends to significantly reduce malnutrition in the next three years.
     For implementation of  POSHAN Abhiyaan the four point strategy/pillars of the mission are:
    Inter-sectoral convergence for better service delivery.Use of technology (ICT) for real time growth monitoring and tracking of women and children
     Intensified health and nutrition services for the first 1000 days
</p>
<p>
     Jan Andolan
     As a part of its mandate, NITI Aayog is required to submit implementation status reports of POSHAN Abhiyaan every six months to the PMO. The first bi-annual report was prepared and presented at third National Nutrition Council on India’s Nutrition Challenges
    (which is housed within NITI) in November 2018.
    The task of implementation of POSHAN Abhiyaan is to be carried out through the Technical Support Unit (TSU) established at NITI Aayog which, in addition to the M&E, will also provide research, policy and technical support to the Abhiyaan.
    </p>
    </div>

    
</body>
</html>