{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'style/style3.css' %}">
</head>
<body>
    
    <div>
    <img src="{% static 'images/s.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/t.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/u.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/v.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/x.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/y.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/z.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/q.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/i.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/j.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/k.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/l.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/m.jpg' %}" alt="Forest" width="250" height="200">
    <img src="{% static 'images/n.jpg' %}" alt="Forest" width="250" height="200">
    </div>
</body>
</html>